	.icon1 img {width: 50px; height: auto;}
	.icon2 img {width: 50px; height: auto;}
	.icon3 img {width: 55px; height: auto;}
	.icon4 img {width: 50px; height: auto;}
	.icon5 img {width: 55px; height: auto;}
	.icon6 img {width: 55px; height: auto;}